<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903339137973-3pvtppor1hrehll9gb3ha67j0ovqgacq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903339137973-3pvtppor1hrehll9gb3ha67j0ovqgacq</string>
	<key>API_KEY</key>
	<string>AIzaSyA6djW0dfcQ-Scx1ufn2XHvjbV_4Zi7ZPo</string>
	<key>GCM_SENDER_ID</key>
	<string>903339137973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.topicapp.Topic</string>
	<key>PROJECT_ID</key>
	<string>topic-app-72d97</string>
	<key>STORAGE_BUCKET</key>
	<string>topic-app-72d97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903339137973:ios:2e7f7d12623db5992317fc</string>
	<key>DATABASE_URL</key>
	<string>https://topic-app-72d97.firebaseio.com</string>
</dict>
</plist>